html{
    height: 100%;

}



body{
    font-family: "Open Sans";
    background-image: linear-gradient(#00031b,#002b63 );
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    height: 100%;
  }


#jelszobe .container {
      color: #ffffff;
      background: inherit;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 45% 15% 45% 15%;
      margin-top: auto;
      border-radius: 25px;
      border: #ffffff2d solid 1px;    
      box-shadow: inset 20px 20px 20px 10px rgba(255, 255, 255, 0.089);
      backdrop-filter: blur(100%);
      animation: login infinite 5s;
      background-image: linear-gradient(60deg, #00073f 25%, #0056c7 75%);
      background-size: 200% 200%;


}

@keyframes login{
    0%{
        box-shadow: inset cyan -4px -5px 15px; 
		background-position: 0% 0%;

    }
    50%{
        box-shadow:inset cyan 6px 3px 15px;
        background-position: 0% 25%;

    }
    100%{
        box-shadow:inset cyan -4px -5px 15px; 
        background-position: 0% 0%;

    }
}


#login{
    font-size: 32px;
    margin-bottom: 5%;
}

#password{
    background-color: #dddddd00;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: rgb(0, 132, 255);
    font-weight: 800;
    transition: all 300ms ease-in-out;
    font-size: 24px;
}

#password:focus{
    color: rgb(0, 255, 42);
    outline: none;
    font-weight: 800;

}


#jelszobe{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    width: 25%;
    padding-left: 35%;
    padding-top: 5%;
    backdrop-filter: blur(100%);
    

}


@media (max-width: 1200px) {
	#jelszobefull{
        margin-top: 20%;
    }
}



  .inputField1 {
      font-size: larger;
  }
  .button1 {	
      border-radius: 12px;
      width: 90px;
      font-size: large;
      margin: 0 auto;
      margin-top: 15px;
      transition: all 300ms ease-in-out;
      animation: button1 infinite 5s;
      background-color: rgba(0, 255, 255, 0.822);
      color: #004152;
      
    }

  .button1:hover {
      background-color: rgba(0, 255, 255, 0.5);
      color: #ffffff;
      animation: button1_hover infinite 4s;

  }
  
  @keyframes button1{
    0%{box-shadow: cyan -4px -5px 10px; }
    50%{box-shadow: cyan 5px 3px 15px;}
    100%{box-shadow: cyan -4px -5px 10px; }
  
}

  @keyframes button1_hover{
    0%{box-shadow: cyan -4px -5px 15px; }
    50%{box-shadow: cyan 5px 3px 20px;}
    100%{box-shadow: cyan -4px -5px 15px; }
  }
 

#menus{
    display: none;
    width: 80%;
    background-color: #dddddd2c;
    border: none;
    padding: 10px 20px;
    text-align: center;		
    cursor: pointer;
    border-radius: 16px;
    margin: 0 auto;
    text-decoration: none;
    flex-flow: column;
}

#menus div{
flex: auto;
}
  
.navbar {
    background-color: rgba(0, 0, 0, 0); /* Átlátszó háttér */
}

.navbar-brand, .nav-link {
    color: #ffffff !important; 
    font-size: 24px !important;
}

/*---------------------Filmek-oldal-----------------------------------------------------*/

#filmekp{
    display: none;
    width: 80%;
    background-color: #dddddd2c;
    border: none;
    padding: 10px 20px;
    text-align: center;		
    cursor: pointer;
    border-radius: 0px 0px 25px 25px;
    margin: 0 auto;
    text-decoration: none;
    height: max-content;
    color: white;

}



.filmkocka{
    display: flex;
    flex-flow: row wrap !important;
    justify-content: center;
    align-items: stretch !important;;

}

.filmkocka table{
    text-align: center;
    line-height: 75px;
    width: 200px;
    align-items: stretch;
}

.filmkocka table tr{
    background-color: #00031b !important;
}

.filmkocka table td{
    background-color: #00031b !important;
    color: wheat !important;;
    border-bottom: #00031b !important;
}

.filmezek tr td{
    font-weight: bold !important;
    font-size: 24px !important;
    color: white !important;
}

.filmezek button{
    background-color: transparent !important;
    color: white !important;
    border: none !important;
    animation: filmezek 5s infinite  ease-in-out !important;
    transition: all 800ms ease-in-out ;
}

@keyframes filmezek{
    0%{    text-shadow: rgba(0, 255, 255, 0.384) 0px 0px ;}
    25%{   text-shadow: rgba(0, 255, 255, 0.384) 0px 3px ;}
    50%{   text-shadow: rgba(0, 255, 255, 0.384) 5px 5px ;}
    75%{   text-shadow: rgba(0, 255, 255, 0.384) 3px 0px ;}
    100%{  text-shadow: rgba(0, 255, 255, 0.384) 0px 0px ;}

  
}

.filmezek button:hover{
    background-color: transparent !important;
    color: cyan !important;
    border: none !important;
    text-shadow: rgba(0, 255, 255, 0.384) 2px 4px !important;
}

.filmpapa tr td{
        font-weight: bold !important;
        font-size: 24px !important;
        color: #DBA900 !important;
    
}


.filmpapa button{
    background-color: transparent !important;
    color: #f5c2a0 !important;
    border: none !important;
    animation: filmpapa 5s infinite  ease-in-out !important;
    transition: all 800ms ease-in-out ;
}

@keyframes filmpapa{
    0%{    text-shadow: hsla(24, 100%, 50%, 0.384) 0px 0px ;}
    25%{   text-shadow: hsla(24, 100%, 50%, 0.384) 0px 3px ;}
    50%{   text-shadow: hsla(24, 100%, 50%, 0.384) 5px 5px ;}
    75%{   text-shadow: hsla(24, 100%, 50%, 0.384) 3px 0px ;}
    100%{  text-shadow: hsla(24, 100%, 50%, 0.384) 0px 0px ;}

  
}

.filmpapa button:hover{
    background-color: transparent !important;
    color: #DBA900 !important;
    border: none !important;
    text-shadow: hsla(24, 100%, 50%, 0.384) 2px 4px !important;
}

.jobbmintatv tr td{
    font-weight: bold !important;
    font-size: 24px !important;
    color: #277ebd !important;

}


.jobbmintatv button{
background-color: transparent !important;
color: #277ebd !important;
border: none !important;
animation: filmpapa 5s infinite  ease-in-out !important;
transition: all 800ms ease-in-out ;
}

@keyframes filmpapa{
0%{    text-shadow: hsla(180, 100%, 50%, 0.384) 0px 0px ;}
25%{   text-shadow: hsla(180, 100%, 50%, 0.384) 0px 3px ;}
50%{   text-shadow: hsla(180, 100%, 50%, 0.384) 5px 5px ;}
75%{   text-shadow: hsla(180, 100%, 50%, 0.384) 3px 0px ;}
100%{  text-shadow: hsla(180, 100%, 50%, 0.384) 0px 0px ;}


}

.jobbmintatv button:hover{
background-color: transparent !important;
color: cyan !important;
border: none !important;
text-shadow: hsla(180, 100%, 50%, 0.432) 2px 4px !important;
}


.moviedrive tr td{
    font-weight: bold !important;
    font-size: 24px !important;
    color: #C90000 !important;

}


.moviedrive button{
background-color: transparent !important;
color: red !important;
border: none !important;
animation: filmpapa 5s infinite  ease-in-out !important;
transition: all 800ms ease-in-out ;
}

@keyframes moviedrive{
0%{    text-shadow: hsla(0, 100%, 50%, 0.384) 0px 0px ;}
25%{   text-shadow: hsla(0, 100%, 50%, 0.384) 0px 3px ;}
50%{   text-shadow: hsla(0, 100%, 50%, 0.384) 5px 5px ;}
75%{   text-shadow: hsla(0, 100%, 50%, 0.384) 3px 0px ;}
100%{  text-shadow: hsla(0, 100%, 50%, 0.384) 0px 0px ;}


}

.moviedrive button:hover{
background-color: transparent !important;
color: red !important;
border: none !important;
text-shadow: hsla(0, 100%, 50%, 0.432) 2px 4px !important;
}

